<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @college.teacher %>
</p>

<p>
  <strong>Address:</strong>
  <%= @college.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @college.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @college.email %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
